@use 'sass:color';

@use '../mastodon/functions' with (
  $darken-multiplier: 1,
  $lighten-multiplier: -1
);

$black: #000000; // Black
$white: #ffffff; // White

$longwhile-600: #0d86d6;
$longwhile-500: #1d9bf0;
$longwhile-400: #1d9bf0; // focus visible
$longwhile-300: #1d9bf0;

$grey-600: hsl(215, 10%, 63%); // Trout
$grey-100: hsl(209, 41%, 90%); // Topaz

$classic-base-color: #212126;

$classic-secondary-color: #ffffff;

$classic-highlight-color: $longwhile-500;

@use '../mastodon/variables' with (
  $success-green: #1d9bf0,
  $base-overlay-background: $white,

  $ui-base-color: $classic-secondary-color,

  $ui-base-lighter-color: hsl(206, 41%, 85%),

  $ui-secondary-color: $classic-base-color,

  $ui-highlight-color: $classic-highlight-color,

  $ui-button-background-color: $longwhile-500,
  $ui-button-focus-background-color: $longwhile-600,
  $ui-button-focus-outline-color: var(--color-brand-longwhile, #{$longwhile-400}),
  $ui-button-tertiary-focus-background-color: $longwhile-600,

  $ui-button-secondary-color: $grey-600,
  $ui-button-secondary-border-color: $grey-600,
  $ui-button-secondary-focus-color: $white,
  $ui-button-tertiary-color: $longwhile-500,
  $ui-button-tertiary-border-color: $longwhile-500,

  $account-switcher-add-text-color: $longwhile-500,

  $primary-text-color: $black,
  $darker-text-color: $classic-base-color,
  $lighter-text-color: $classic-base-color,
  $highlight-text-color: $classic-highlight-color,
  $dark-text-color: hsl(240deg, 16%, 32%),
  $light-text-color: hsl(240deg, 16%, 32%),
  $inverted-text-color: $black,

  $action-button-color: hsl(240deg, 16%, 45%),
  $emojis-requiring-inversion: 'chains'
);
